<table id="builds">
  <thead>
    <tr>
      <th>Build</th>
      <th>Commit</th>
      <th>Message</th>
      <th>Duration</th>
      <th>Finished</th>
    </tr>
  </thead>

  {{#collection SC.TemplateCollectionView tagName="tbody" itemClassBinding="content.color" contentBinding="Travis.controllers.repository.tabs.builds"}}
    {{#with content}}
      <td class="number"><a {{bindAttr href="urlBuild"}}>{{number}}</a></td>
      <td class="commit"><a {{bindAttr href="urlGithubCommit"}}>{{commitAndBranch}}</a></td>
      <td class="message">{{message}}</td>
      <td class="duration" {{bindAttr title="duration"}}></td>
      <td class="finished_at timeago" {{bindAttr title="finished_at"}}>{{#if finished_at}}{{finished_at}}{{else}}-{{/if}}</td>
    {{/with}}
  {{/collection}}
</table>

