<table id="matrix">
  <caption>Build Matrix</caption>
  <thead>
    <tr>
      <th>Build</th>
      {{#each content.configDimensions tagName="th"}}
        {{this}}
      {{/each}}
      <th>Duration</th>
      <th>Finished</th>
    </tr>
  </thead>

  {{#collection SC.TemplateCollectionView tagName="tbody" itemClassBinding="content.color" contentBinding="Travis.controllers.repository.tabs.active.matrix"}}
    {{#with content}}
      <td class="number"><a {{bindAttr href="urlBuild"}}>{{number}}</a></td>
      {{#each configValues tagName="td"}}
        {{this}}
      {{/each}}
      <td class="duration" {{bindAttr title="duration"}}>{{formattedDuration}}</td>
      <td class="finished_at timeago" {{bindAttr title="finishedAt"}}>{{#if finishedAt}}{{formattedFinishedAt}}{{else}}-{{/if}}</td>
    {{/with}}
  {{/collection}}
</table>

