<table id="matrix">
  <caption>Build Matrix</caption>
  <thead>
    <tr>
      <th>Build</th>
      <th>Duration</th>
      <th>Finished</th>
    </tr>
  </thead>

  {{#collection SC.TemplateCollectionView tagName="tbody" itemClass="build" contentBinding="Travis.controllers.repository.tabs.active.content.matrix"}}
    {{#with content}}
      <td class="number"><a {{bindAttr href="urlBuild"}}>{{number}}</a></td>
      <td class="duration" {{bindAttr title="duration"}}>-</td>
      <td class="finished_at timeago" {{bindAttr title="finished_at"}}>{{#if finished_at}}{{finished_at}}{{else}}-{{/if}}</td>
    {{/with}}
  {{/collection}}
</table>

