{{#with content}}
  <dl class="summary clearfix" {{bindAttr class="color"}}>
    <div class="left">
      <dt>Build</dt>
      <dd class="number"><a {{bindAttr href="urlBuild"}}>{{number}}</a></dd>
      <dt class="finished_at_label">Finished</dt>
      <dd class="finished_at timeago" {{bindAttr title="finished_at"}}>-</dd>
      <dt>Duration</dt>
      <dd class="duration" {{bindAttr title="duration"}}>-</dd>
    </div>

    <div class="right">
      <dt>Commit</dt>
      <dd class="commit-hash"><a {{bindAttr href="urlGithubCommit"}}>{{commit}}{{#if branch}} ({{branch}}){{/if}}</a></dd>
      <dt>Author</dt>
      <dd class="author"><a {{bindAttr href="urlAuthor"}}>{{author_name}}</a></dd>
      {{#if committer_name}}
        <dt>Committer</dt>
        <dd class="committer"><a {{bindAttr href="urlCommitter"}}>{{committer_name}}</a></dd>
      {{/if}}
    </div>

    <dt>Message</dt>
    <dd class="commit-message">{{message}}</dd>
    {{#if parent_id}}
      <dt>Config</dt>
      <dd class="config">{{config}}</dd>
    {{/if}}
  </dl>
{{/with}}
