{{#with content}}
  <dl class="summary clearfix" {{bindAttr class="color"}}>
    <div class="left">
      <dt>Build</dt>
      <dd class="number"><a {{bindAttr href="urlBuild"}}>{{number}}</a></dd>
      <dt class="finished_at_label">Finished</dt>
      <dd class="finished_at timeago" {{bindAttr title="finished_at"}}>{{formattedFinishedAt}}</dd> <!-- TODO wow, this should really be finishedAt! -->
      <dt>Duration</dt>
      <dd class="duration" {{bindAttr title="duration"}}>{{formattedDuration}}</dd>
    </div>

    <div class="right">
      <dt>Commit</dt>
      <dd class="commit-hash"><a {{bindAttr href="urlGithubCommit"}}>{{formattedCommit}}</a></dd>
      {{#if author_name}}
        <dt>Author</dt>
        <dd class="author"><a {{bindAttr href="urlAuthor"}}>{{authorName}}</a></dd>
      {{/if}}
      {{#if committer_name}}
        <dt>Committer</dt>
        <dd class="committer"><a {{bindAttr href="urlCommitter"}}>{{committerName}}</a></dd>
      {{/if}}
    </div>

    <dt>Message</dt>
    <dd class="commit-message">{{message}}</dd>
    {{#if config}}
      <dt>Config</dt>
      <dd class="config">{{configDisplay}}</dd>
    {{/if}}
  </dl>
{{/with}}
