<dl class="summary clearfix" {{bindAttr class="content.color"}}>
  <div class="left">
    <dt>Build</dt>
    <dd class="number"><a {{bindAttr href="content.urlBuild"}}>{{content.number}}</a></dd>
    <dt class="finished_at_label">Finished</dt>
    <dd class="finished_at timeago" {{bindAttr title="content.finished_at"}}>-</dd>
    <dt>Duration</dt>
    <dd class="duration" {{bindAttr title="content.duration"}}>-</dd>
  </div>

  <div class="right">
    <dt>Commit</dt>
    <dd class="commit-hash"><a {{bindAttr href="content.urlGithubCommit"}}>{{content.commit}}{{#if content.branch}} ({{content.branch}}){{/if}}</a></dd>
    <dt>Author</dt>
    <dd class="author"><a {{bindAttr href="content.urlAuthor"}}>{{content.author_name}}</a></dd>
    {{#if content.committer_name}}
      <dt>Committer</dt>
      <dd class="committer"><a {{bindAttr href="content.urlCommitter"}}>{{content.committer_name}}</a></dd>
    {{/if}}
  </div>

  <dt>Message</dt>
  <dd class="commit-message">{{content.message}}</dd>
  {{#if content.parent_id}}
    <dt>Config</dt>
    <dd class="config">{{content.config}}</dd>
  {{/if}}
</dl>
