<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Travis</title>
    <%= stylesheet_link_tag 'application', 'jquery.tipsy.css' %>
    <%= include_javascripts :sproutcore_dev, :travis %>
    <%= javascript_tag "var env = '#{Rails.env}';" %>
    <% if Rails.env.jasmine? %>
      <%= stylesheet_link_tag 'jasmine' %>
      <%= include_javascripts :jasmine %>
    <% end %>
  </head>
  <body>
    <%= handlebars_template_tags %>
	</body>
</html>

