<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Travis</title>
    <%= stylesheet_link_tag 'application', 'jquery.tipsy.css' %>
    <%= include_javascripts :sproutcore_dev, :travis %>
    <%= javascript_tag "var env = '#{Rails.env}';" %>
    <% if Rails.env.jasmine? %>
      <%= stylesheet_link_tag 'jasmine' %>
      <%= include_javascripts :jasmine %>
    <% end %>
  </head>
  <body>
    <div id="top">
      <h1>Travis</h1>

      <ul id="navigation">
        <li class="<%= 'current' if active_page?("application#index") %>"><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
          <li class="<%= 'current' if active_page?("profiles#show") %>"><%= link_to "Profile", profile_path %></li>
        <% end %>
        <% if user_signed_in? && current_user.is_admin? %>
          <li><%= link_to "Admin", rails_admin_dashboard_path %></li>
        <% end %>
        <li><a href="/" class="tool-tip" title="Coming soon ...">Blog</a></li>
      </ul>

      <div class="profile">
        <% if user_signed_in? %>
          <a href="#">
            <%= gravatar(current_user, :size => 24) %>
            <span class="name"><%= current_user.name || current_user.login %></span>
          </a>
          <ul>
            <li><%= link_to "Profile", profile_path %></li>
            <% if current_user.is_admin? %>
              <li><%= link_to "Admin", rails_admin_dashboard_path %></li>
            <% end %>
            <li><%= link_to "Sign out", destroy_session_path %></li>
          </ul>
        <% else %>
          <%= link_to "Sign in with Github", user_omniauth_authorize_path(:github), :class => "profile-signup" %>
        <% end %>
      </div>

      <a id="github_ribbon" class="ribbon" href="http://github.com/travis-ci/travis-ci" title="Fork me on GitHub">Fork me on Github</a>
    </div>

    <%= handlebars_template_tags %>
	</body>
</html>

